/* General things */
header{
	background-color: #ff821d;
	line-height: 85px;
}
a{
	color: #e4e4e7;
	font-family: Segoe UI;
	font-size: 24px;
	font-weight: bold;
}
h1, h2{
	text-align: center;
	color: #0b0c29;
	font-family: Segoe UI;
	font-size: 36px;
	font-weight: bold;
	padding-bottom: 20px;
	padding-top: 30px;
}

body{
	color: #000000;
	font-family: Trebuchet MS;
	font-size: 20px;
	font-weight: bold;
	overflow-x: hidden;
}
h5{
	color: #ff821d;
	font-family: Segoe UI;
	font-size: 18px;
}
.site-map, h6{
	color: #fff;
	font-family: Trebuchet MS;
	font-size: 16px;
}
footer{
	background-color: #0b0c29;
	padding-top: 40px;
}
section{
	padding: 50px;
}
article {
	margin: 0 15%; 
}
article p {
	text-indent: 5%;
}
/* Main page */

#contacts-section{
	text-align: center;
}
ul{
	padding-top: 30px;
	padding-left: 0px;
	padding-bottom: 20px;
}

#pros-pic{
	text-align: right;
}


form{
	background-color: #ff821d;
	text-align: center;
	height: 400px;
	padding: 20px;
}
.submit {
	height: 50px;
	width: 200px;
	background-color: #ff821d;
	border: solid 2px #ffffff;
	border-radius: 0;
}
.submit:hover{
	-webkit-box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.75);
	cursor: pointer;
}
.btn {
	font-size: 20px;
	font-weight: bold;
	font-family: Trebuchet MS;
}
.btn:hover{
	-webkit-box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.75);
	cursor: pointer;
}
img#galery{
	height: 200px;
	width: 200px;
	display: inline;
	position: relative;
}
#galery{
	margin: 50px;
}
.overlay{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 16px;
	width: 90%;
	height: 100%;
	background-color: rgba(11, 12, 41, 0.7);
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-justify-content: center;
	-webkit-align-items: center; 
	color: #fff;
}
.overlay:hover{
	opacity: 1;
}
p.overlay{
	white-space: pre;
}

.bar{
	margin: 20px;
}

.output{
	background-color: #ff821d;
	padding: 20px 20px 30px 20px;
}

/*slider*/
body, #slider, .wrap, .slide-content {
  margin: 0;
  padding: 0;
  height: 80vh;
  width: 100%;
}

.wrap {
  position: relative;
}
.slide-content > div {
	position: relative;
	top: 60%;
	background: rgba(11, 12, 42, 0.5);
	margin: 0 15%;
	padding: 15px;
	color: #fff !important;
	text-shadow: 4px 4px 3px rgba(11, 12, 42, 1);
}
.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100%;
  width:100%;
}
.slide1 {
  display: block;
  background-image:url(../img/brown-house.jpg);
}
.slide2 {
  display: none;
  background-image:url(../img/grey-house.jpg);}
.slide3 {
  display: none;
  background-image:url(../img/orange-house.jpg);
}
.slide4 {
  display: none;
  background-image:url(../img/yellow-house.jpg);
}
.arrow {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width:0;
  height: 0;
  border-style: solid;
}
#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #2375bd transparent transparent;
  left: -100px;
  margin-left: 35px;
}
#arrow-left:hover{
	cursor: pointer;
}
#arrow-right {
  border-width: 30px 0px 30px 40px;
  border-color: transparent transparent transparent #2375bd;
  margin-right: 35px;
  right: -100px;
}
#arrow-right:hover{
	cursor: pointer;
}
#slider-houses{
	padding-top:25px;
}

@media (max-width: 720px) {
	body {
		text-align: center;
	}
	.slide-content > div{
		top: 20%;

	}
}